# Application
PORT=3000

# Database connection (PostgreSQL)
DATABASE_URL="postgres://cb73cb7c843da34a759bbffe05b226c486c4b78f7c6e1fd77f80cda5d031b6f3:sk_N1dxVigVc_tpqzRLcRZw4@db.prisma.io:5432/postgres?sslmode=require"
